/* Styling untuk Container Halaman Buku */
.books {
    font-family: 'Arial', sans-serif;
    padding: 20px;
    background-color: #f4f7fc;
    min-height: 100vh;
  }
  
  /* Styling untuk Navbar */
  .navbar {
    background: linear-gradient(to bottom, #0d47a1, #000000);
    color: white;
    padding: 10px;
    text-align: center;
  }
  
  /* Styling untuk tabel dan container tabel */
  .table-container {
    margin-top: 60px; /* Menambahkan jarak lebih besar antara navbar dan tabel */
    border-radius: 10px;
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Styling untuk tabel */
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  td:not(:last-child), th:not(:last-child) {
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Bayangan pada setiap kolom kecuali kolom terakhir */
  }
  
  th {
    background-color: #434943;
    color: white;
    font-weight: bold;
  }
  
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  /* Styling untuk Gambar */
  img {
    max-width: 50px;
    height: auto;
    border-radius: 5px;
  }
  
  /* Styling untuk tombol */
  button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 16px;
    margin: 0 5px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Styling untuk link "Tambah Buku" */
  a button {
    background-color: #2196F3;
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    width: auto;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    text-decoration: none;
  }
  
  a button:hover {
    background-color: #1e88e5;
  }
  
  /* Styling untuk group tombol Edit dan Delete */
  .button-group {
    display: flex;
    gap: 10px; /* Jarak antar tombol */
    justify-content: center; /* Center tombol */
  }
  
  /* Mengubah background tombol Delete menjadi merah */
  button:nth-child(2) {
    background-color: #f16726; /* Tombol Delete berwarna merah */
  }
  
  button:nth-child(2):hover {
    background-color: #e53935; /* Hover merah */
  }
  